pypdf==3.17.0
azure-identity==1.14.1
azure-search-documents==11.4.0b6
azure-ai-formrecognizer==3.2.1
azure-storage-blob==12.18.3
openai[datalib]==0.28.1
tiktoken==0.5.1
tenacity==8.2.3
aiohttp==3.8.6
opentelemetry-instrumentation-aiohttp-client==0.41b0